@inherits LayoutComponentBase

<div class="layout-container">
    <header>
        <NavBar />
    </header>

    <main>
        @Body
    </main>

    <footer>
        <p>My Blazor App</p>
    </footer>
</div>