<nav class="navbar">
    <div class="nav-left">
        <a class="brand" href="/posts">MyApp</a>
        <a href="/posts">Home</a>
    </div>

    <div class="nav-right">
        <a href="/posts/new">Add Post</a>
        <a href="/profile">Edit Profile</a>
        <a href="/">Log out</a>
    </div>
</nav>